@model IEnumerable<MyBlog.Models.CategoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Category List</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
</p>
<hr />

@if (TempData["Category"] != null)
{
    var category = (MyBlog.Models.Category)TempData["Category"];
    <div class="alert alert-success" >
        <span class="glyphicon glyphicon-ok"></span><b>@category.CategoryName</b>Was Recorded.
    </div>
}

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th style="width:70%">
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th style="width:16%">
            @Html.DisplayNameFor(model => model.BlogNumber)
        </th>
        <th style="width:154px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               @item.CategoryName
            </td>
            <td>
                @item.BlogNumber
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
